[Desktop Entry]
Type=Application
Exec=/usr/bin/env /change/this/path/to/duo watch-screen
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=My Login Script
Comment=Run my custom script at login
